{% load staticfiles %}
<!doctype html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="Find out who is away today at RKH."/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Who's in?</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700|Open+Sans:600,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "main.css" %}"/>
    </head>
    <body>
        <header>
            {% if date %}
                <h1>Who is away {{ date }}?</h1>
            {% else %}
                <h1>Who is away today?</h1>
            {% endif %}
        </header>
        {% if not holidays %}
            <section class="employee-section">
                <h3 class="everyone">Everybody is in today!</h3>
            </section>
        {% endif %}
        {% for event in holidays %}
            <section class="employee-section">
                {% if not event.employee %}
                    <img class="unknown-thumb" alt="Unknown employee" src="{% static "images/PIGION.png" %}"/>
                    <article class="employee">
                        <p><strong>{{ event.start_date }}</strong> - <strong>{{ event.end_date }}</strong>.</p>
                        <p><strong>Summary: </strong> {{ event.summary }}</p>
                        <p><strong>Description: </strong>{{ event.description }}</p>
                    </article>
                {% else %}
                    <img class="thumb" alt="Cartoon of {{ event.employee }}" src="{{ event.image }}.190x200_q85_crop.png"/>
                    <article class="employee">
                        <h3>{{ event.employee }} is away today.</h3>
                        <p>{{ event.employee_first_name }} is away from <strong>{{ event.start_date }}</strong> until <strong>{{ event.end_date }}</strong>.</p>
                        <p><strong>Summary: </strong> {{ event.summary }}</p>
                        <p><strong>Description: </strong>{{ event.description }}</p>
                    </article>
                {% endif %}
            </section>
        {% endfor %}
        <footer>
            <p class="instructions">You can add a date to the URL to change the day you look at</p>
            <p class="instructions">Use the following format: /DD-MM-YYYY/ i.e. /25-12-2015/</p>
        </footer>
    </body>
</html>
