*, *:before, *:after {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #C5CED9;
}

header {
    background-color: #ECC512;
    padding: 3em 0.8em 3em 0.8em;
    margin-bottom: 1em;
    border-bottom: solid 2px black;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 3em;
    font-family: "Roboto Slab", serif;
}

h3 {
    font-weight: 600;
    font-size: 1.3em;
}

p, h5 {
    margin: 0.4em 0.1em 0.5em 0.1em;
}

strong {
    font-weight: 600;
}

.employee-section {
    overflow: auto;
    zoom: 1;
    width: 80%;
    margin: 1em auto;
}

.everyone {
    text-align: center;
}

img.thumb {
    float: left;
}

img.unknown-thumb {
    float: left;
    width: 190px;
    height: 200px;
}

.employee {
    float: left;
}

footer {
    padding: 1em;
}

.instructions {
    text-align: center;
    font-size: 0.9em;
    color: rgb(90, 90, 90)
}
